@font-face {
    font-family: HylianFont;
    src: url("../fonts/Hylian Type.otf");
}

html {
    background-color: #e9fbec;
}

div#titulo_hylian {
    color: #cca711;
    font-family: HylianFont;
    font-size: 300%;
    margin: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

div#capsula_audio {
    width: 100%;
}

div#centralizador_capsula {
    margin: auto;
    width: fit-content;
}

div.capsula_audio_texto {
    display: inline-block;
    margin: 25px;
}

div.texto_encapsulado {
    width: 250px;
    text-align: center;
    font-family: HylianFont;
    font-size: 20px;
    background-color: #ccc;
    border-radius: 25px 25px 0px 0px;
    padding-top: 10px;
}

img#imagem_principal {
    margin-bottom: 30px;
}

audio {
    width: 250px;
    background-color: #ccc;
    border-radius: 0px 0px 25px 25px;
}

audio::-webkit-media-controls-panel {
    background-color: #ccc;
}
