@font-face {
    font-family: HylianFont;
    src: url("../fonts/Hylian Type.otf");
}

html {
    background-color: #e9fbec;
}

div#titulo_hylian {
    color: #cca711;
    font-family: HylianFont;
    font-size: 300%;
    margin: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

div#capsula_audio {
    width: 100%;
}

div#centralizador_capsula {
    margin: auto;
    width: fit-content;
}

img#imagem_principal {
    margin-bottom: 30px;
}

audio {
    margin: 25px;
    width: 250px;
}
